@page "/2"
@inject NavigationManager Navigation

<h3>Page 2</h3>

<a href="/">Aller sur la page d'accueil</a>

<h4>Nouveau test Au secours !!!</h4>
<p>coucou c'est un pour le context</p>

<p>Contexte de navigation : @context</p>

<button @onclick="() => count++">Compteur : @count</button>

<NavigationLock ConfirmExternalNavigation="@(count > 0)"
                OnBeforeInternalNavigation="OnBeforeInternalNavigation">
</NavigationLock>

@code {
    private string? context;
    private int count;

    protected override void OnInitialized()
    {
        context = Navigation.HistoryEntryState;
        base.OnInitialized();
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        if (count > 0)
        {
            context.PreventNavigation();
        }
    }
}
