@page "/"

<h1>Nouvel exercice de render mode</h1>

<BlazorApp.Shared.LifeCycle />

<a href="dogs">Voir les photos de chiens</a>
<br/>

<a href="formulaire">Formulaire</a>

@code {
	protected override void OnInitialized()
	{
		base.OnInitialized();
	}
}