@* <ul>
	@foreach (var step in _steps)
	{
		<li>@step</li>
	}
</ul> *@

<ElementsList Items=" _steps" />

<p>
	@_apiResponse
</p>

<button @onclick="@(() => _var = "Cliqué !")">Bouton</button>


@* <SubComponent Data="valeur du parent à l'enfant"/> *@
<SubComponent Data="@_var"/>